/.idea/**
!/.idea/codeStyles/
!/.idea/codeStyles/**
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**
!/.idea/runConfigurations/
!/.idea/runConfigurations/**
!/.idea/gradle.xml
!/.idea/saveactions_settings.xml
/kotlin-js-store
.DS_Store
.gradle
build
out
